body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

@media all and (min-width: 480px){
	.Login {
		padding: 60px 0;
	}

	.Login form{
		margin: 0 auto;
		max-width: 320px;
	}
}